#root {
  width:100%;/*max-width: 1280px;*/
  margin: 0 auto; 
  text-align: center;
}

.page {
  
  max-width: 1280px;
  margin: 0 auto;      /* centers horizontally */
  text-align: center;  /* if you still want centered text */
  padding: 10rem;
  overflow-y:hidden;
}

.myTitle {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large;
  color:darkcyan;
}

.gwendolyn-regular {
  font-family: "Gwendolyn", cursive;
  font-weight: 400;
  font-style: normal;
  color:midnightblue;
}

.gwendolyn-bold {
  font-family: "Gwendolyn", cursive;
  font-weight: 700;  
  font-style: normal;
  color:whitesmoke;
}

.mea-culpa-regular {
  font-family: "Mea Culpa", cursive;
  font-weight: 400;
  font-style:normal; 
  color: whitesmoke;
}

.bruno-ace-sc-regular {
  font-family: "Bruno Ace SC", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  font-size: clamp(10px, 4vw, 48px);
}


.ck_lead_in {
  font-family: "Bruno Ace SC", sans-serif;
  background: linear-gradient(
    100deg,
    white,
    #213547
  );
  font-size: small;

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.navbar {
  width: 100%;
  background:black;
}

.navbar-container {
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;     /* force horizontal */
  justify-content: center;
  align-items: center;
  gap: 4rem;

  padding: 1rem 0;

  font-size:small;
}

html, body{
  margin:0;
  padding:0;
  overflow-x:hidden;
}

.theK{
  font-size:12em;
  font-family: "Mea Culpa", cursive;
  background: linear-gradient(
    0deg,
    /*
    yellow,
    orangered
    */
    yellow, orangered
  );
 

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .bruno-ace-sc-regular {
    flex-direction: column;
  }
}

@media (max-width: 600px){
  .ck_lead_in{
    color: whitesmoke;
    font-size:x-small;
    padding-bottom: 20px;
  }
}

@media (max-width: 600px){
  .theK{
    font-size:6em;
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
